Repository FHellmann/Uniatron: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update README
  README.md
Due: none

Add some first images for the app icon
  app/src/main/AndroidManifest.xml
  app/src/main/ic_launcher-web.png
  app/src/main/res/drawable-hdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-mdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-xhdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-xxhdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-xxxhdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  doc/Icon/UNIAtron_ying-yang.png
  doc/Icon/UNIAtron_ying-yang.xcf
  doc/Icon/UNIAtron_ying-yang_white.png
Due: frontend

Delete notification icon -> not needed
  app/src/main/res/drawable-hdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-mdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-xhdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-xxhdpi/ic_stat_uniatron_ying_yang_white.png
  app/src/main/res/drawable-xxxhdpi/ic_stat_uniatron_ying_yang_white.png
Due: frontend

Replace app icon with less colors
  app/src/main/ic_launcher-web.png
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  doc/Icon/UNIAtron_ying-yang.png
  doc/Icon/UNIAtron_ying-yang.xcf
  doc/Icon/footprint.png
  doc/Icon/yin-yang.png
Due: frontend

Update google support libraries versions
  app/build.gradle
  domain/build.gradle
Due: none

Fix wrong card displayed bug
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityCardListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardPriority.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/EmptyCard.java
  app/src/main/res/layout/activity_main.xml
Due: frontend

Refactor domain module to use interfaces for outgoing communication
  app/src/main/java/com/edu/uni/augsburg/uniatron/MainApplication.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/StepCountModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/shop/TimeCreditShopViewModel.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/StepCountDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/migration/MigrationTest.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/AppDatabase.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/DataRepository.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/DataSource.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/DatabaseSource.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateConverter.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateConverterImpl.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/AppUsageCollection.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/DataCollection.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/converter/DateConverterImplUtilTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/util/DateConverterImplTest.java
Due: frontend, backend

Add missing doc
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/model/StreamCollection.java
Due: backend

Fix style checker issues
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/model/LearningAid.java
  tools/pmd.xml
Due: backend

Update tests
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDaoImpl.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/model/Emotion.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/model/Emotions.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/model/Summary.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/table/SummaryEntity.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDaoImplTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDaoTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/EmotionDaoImplTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/EmotionDaoTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/StepCountDaoTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/SummaryDaoTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/TimeCreditDaoTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/model/StreamCollectionTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/dao/model/TimeCreditTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/table/AppUsageEntityTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/table/SummaryEntityTest.java
Due: backend

Update emotion refactoring
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryCard.java
Due: frontend

Add chinese
  app/src/main/res/values-zh/strings.xml
Due: frontend

Update chinese translation
  app/src/main/res/values-zh/strings.xml
  app/src/main/res/values/strings.xml
Due: frontend

Add french translation
  app/src/main/res/values-fr/strings.xml
Due: frontend

Add italien translation
  app/src/main/res/values-it/strings.xml
Due: frontend

Set app name not translateable
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-zh/strings.xml
  app/src/main/res/values/strings.xml
Due: frontend

Update next-/prev-date buttons size
  app/src/main/res/layout/activity_main.xml
Due: frontend

Update layout to fit all languages
  app/src/main/res/layout/card_coins.xml
  app/src/main/res/layout/card_time_account.xml
Due: frontend

Update build tools
  domain/build.gradle
Due: none

Remove system app filter to be able to select pre-installed apps
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Shorten package paths
  app/src/main/AndroidManifest.xml
Due: frontend

Fix notification shows time in milliseconds
  app/src/main/java/com/edu/uni/augsburg/uniatron/notification/builder/TimeUpNotificationBuilder.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageModel.java
Due: frontend

Improve icon details
  app/src/main/ic_launcher-web.png
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  doc/Icon/UNIAtron_ying-yang.png
  doc/Icon/UNIAtron_ying-yang.xcf
  doc/Icon/UNIAtron_ying-yang_white.png
Due: frontend

Fix time issue with learning aid in shop
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/shop/TimeCreditShopActivity.java
Due: frontend

Fix learning aid time recalculation
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/TimeCreditDaoImpl.java
Due: backend

Only display button to switch "top 5" and "show all" if more than 5 apps are available
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageCard.java
Due: frontend

Increase settings performance by loading installed apps async
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/InstalledApp.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Abstract the detectors
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/Detector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/StickyAppService.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/PackageChangeDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/StepCountDetector.java
Due: frontend

Add tests
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/MainApplicationTest.java
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandlerTest.java
Due: none

Add tests for preference handler
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandlerTest.java
Due: none

Update app application for better testing
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/MainApplicationTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/MainApplication.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/PackageChangeModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/StepCountModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/shop/TimeCreditShopActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/shop/TimeCreditShopViewModel.java
Due: frontend

Add javadoc
  app/src/main/java/com/edu/uni/augsburg/uniatron/MainApplication.java
Due: frontend

Update notification service with last change
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/NotificationReceiverService.java
Due: frontend

Add missing gradle imports
  app/build.gradle
Due: none

Remove untranslatable string
  app/src/main/res/values-fr/strings.xml
Due: frontend

Only fetch launchable apps - WORKS!
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Fix tests
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandlerTest.java
Due: none

Fix tests by replacing lambda expression with abstract class
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandlerTest.java
Due: none

Fix pref notification issue
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandlerTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandler.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Path conditions:
  frontend: any of: app/src/main
  backend: any of: domain/src/main
