Repository FHellmann/Uniatron: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Fix pmd issues
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/StepCountDetector.java
Due: frontend

Add paths to codecov
  .codecov.yml
Due: none

Add tests for service
  app/build.gradle
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/service/StickyAppServiceTest.java
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/MainActivityTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/StickyAppService.java
Due: frontend

Try to improve build performance
  .travis.yml
Due: none

Add tests (not working yet)
  app/build.gradle
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/card/CoinBagCardTest.java
  app/src/test/java/com/edu/uni/augsburg/uniatron/ui/card/DateCacheTest.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/AppDatabase.java
Due: frontend, backend

Increase robustness for emotion mapping to and from database
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/converter/EmotionConverterUtil.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/Emotions.java
Due: backend

Increase robustness for emotion mapping to and from database
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/card/CoinBagCardTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/AppUsageViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CoinBagViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/DateCache.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/SummaryViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/TimeAccountViewModel.java
  domain/build.gradle
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/EmotionDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/StepCountDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/TimeCreditDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/migration/MigrationTest.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/DataRepository.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/converter/DateConverterUtil.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/converter/TimeCreditTypeConverterUtil.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateConverter.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateFormatter.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateUtil.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/DataRepositoryTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/converter/DateConverterUtilTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/converter/EmotionConverterUtilTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/converter/TimeCreditTypeConverterUtilTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/util/DateConverterTest.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/util/DateFormatterTest.java
Due: frontend, backend

Fix style checker issues; Improve tests
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/migration/MigrationTest.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateConverter.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateFormatter.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/AppDatabaseTest.java
Due: backend

Code Refactoring; Fix test
  app/build.gradle
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/MainActivityTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/shop/TimeCreditShopListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/shop/TimeCreditShopViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/util/PermissionUtil.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/util/Permissions.java
  app/src/test/java/com/edu/uni/augsburg/uniatron/ui/card/DateCacheTest.java
Due: frontend

Fix test
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDaoTest.java
Due: backend

Code Refactoring; Tests
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/service/StickyAppServiceTest.java
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/MainActivityTest.java
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/card/CoinBagCardTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/notification/NotificationChannels.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/notification/builder/TimeUpNotificationBuilder.java
  app/src/test/java/com/edu/uni/augsburg/uniatron/ui/util/PermissionsTest.java
Due: frontend

Remove unused code
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/AppUsage.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/Emotion.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/StepCount.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/Summary.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/TimeCredit.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/TimeCredits.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/model/TimeCreditsTest.java
Due: backend

Remove not working tests
  app/src/test/java/com/edu/uni/augsburg/uniatron/ui/util/PermissionsTest.java
Due: frontend

Place today menu item in overflow menu
  app/src/main/res/menu/nav_bottom_bar_menu.xml
Due: frontend

Try to filter only system services/apps
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
  app/src/main/res/layout/activity_main.xml
Due: frontend

Hide next-/prev-date-button if not available; Fix account and coin bag card invisible on not today; Fix settings bug; Fix build warnings
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingActivity.java
Due: frontend

Change method visibility
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/AppUsageCard.java
Due: frontend

Code simplifications
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/PackageChangeDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityCardListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/DateCache.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountViewModel.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/DataRepository.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/util/DateConverter.java
Due: frontend, backend

Code simplifications
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityCardListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewModel.java
Due: frontend

Code refactoring
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/StepCountDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/CardViewHolder.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountCard.java
Due: frontend

Disable codecov patch check
  .codecov.yml
Due: none

Refactoring; Remove unused code
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/StepCountDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewItem.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewModel.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/StepCountDaoTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/TimeCreditDaoTest.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/DataRepository.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/AppUsageDao.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/EmotionDao.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/StepCountDao.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/TimeCreditDao.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/AppUsageCollection.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/model/AppUsageItem.java
  domain/src/test/java/com/edu/uni/augsburg/uniatron/domain/DataRepositoryTest.java
Due: frontend, backend

Remove codecov patch from required build steps
  .codecov.yml
Due: none

Move classes; Extract methods; Extract classes
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityCardListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardHelper.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardPriority.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardViewHolder.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/EmptyCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/util/DateFormatter.java
  app/src/test/java/com/edu/uni/augsburg/uniatron/ui/util/DateFormatterTest.java
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/util/DatabaseUtil.java
Due: frontend, backend

Disable codecov patch
  .codecov.yml
Due: none

Some clean-up
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityCardListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardPriority.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardUtil.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountCard.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/DataRepository.java
Due: frontend, backend

Fix multiple running detectors
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/StickyAppService.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageDetector.java
Due: frontend

Fix group by not refreshing
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
Due: frontend

Change naming and method order
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Delete test methods for deleted methods
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/dao/EmotionDaoTest.java
Due: backend

Method renaming
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Fix test
  domain/src/androidTest/java/com/edu/uni/augsburg/uniatron/domain/migration/MigrationTest.java
Due: backend

Add german translation
  app/src/main/java/com/edu/uni/augsburg/uniatron/notification/builder/TimeUpNotificationBuilder.java
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/arrays.xml
  app/src/main/res/values/strings.xml
Due: frontend

Add spanish
  app/src/main/res/values-es/strings.xml
Due: frontend

Modify german translation
  app/src/main/res/values-de/strings.xml
Due: frontend

Try to fix coin bag and time account only appear on today screen
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityCardListAdapter.java
Due: frontend

Add some first images for the app icon
  doc/Icon/11423-a-yin-yang-symbol-with-a-transparent-background-pv.png
  doc/Icon/UNIAtron_ying-yang.xcf
  doc/Icon/historical.png
  doc/Icon/kisspng-computer-icons-footprint-clip-art-foot-5acd1a9271e990.8961003615233911224666.png
Due: none

Path conditions:
  frontend: any of: app/
  backend: any of: domain/
