Repository FHellmann/Uniatron: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Fix codacy issue
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Adjust activity main layout app bar layout
  app/src/main/res/layout/activity_main.xml
Due: frontend

Update README
  README.md
Due: none

Update project versions
  app/build.gradle
  build.gradle
  domain/build.gradle
Due: none

Update project versions
  app/build.gradle
Due: none

Add triplet gradle play publisher plugin for automated apk upload
  app/build.gradle
  app/src/main/play/contactEmail
  app/src/main/play/contactPhone
  app/src/main/play/contactWebsite
  app/src/main/play/de-DE/listing/fulldescription
  app/src/main/play/de-DE/listing/shortdescription
  app/src/main/play/de-DE/listing/title
  app/src/main/play/de-DE/whatsnew
  app/src/main/play/defaultLanguage
  app/src/main/play/en-GB/listing/fulldescription
  app/src/main/play/en-GB/listing/shortdescription
  app/src/main/play/en-GB/listing/title
  app/src/main/play/en-GB/whatsnew
  app/src/main/play/es-ES/listing/fulldescription
  app/src/main/play/es-ES/listing/shortdescription
  app/src/main/play/es-ES/listing/title
  app/src/main/play/es-ES/whatsnew
  app/src/main/play/fr-FR/listing/fulldescription
  app/src/main/play/fr-FR/listing/shortdescription
  app/src/main/play/fr-FR/listing/title
  app/src/main/play/fr-FR/whatsnew
  app/src/main/play/it-IT/listing/fulldescription
  app/src/main/play/it-IT/listing/shortdescription
  app/src/main/play/it-IT/listing/title
  app/src/main/play/it-IT/whatsnew
  app/src/main/play/zh-CN/listing/fulldescription
  app/src/main/play/zh-CN/listing/shortdescription
  app/src/main/play/zh-CN/listing/title
  app/src/main/play/zh-CN/whatsnew
  build.gradle
  gradle/play.gradle
Due: frontend

Fix multiple notification
  app/src/main/java/com/edu/uni/augsburg/uniatron/notification/builder/TimeUpNotificationBuilder.java
Due: frontend

Add store texts
  app/src/main/play/de-DE/listing/fulldescription
  app/src/main/play/de-DE/listing/shortdescription
  app/src/main/play/de-DE/listing/title
  app/src/main/play/de-DE/whatsnew
  app/src/main/play/en-GB/listing/fulldescription
  app/src/main/play/en-GB/listing/shortdescription
  app/src/main/play/en-GB/listing/title
  app/src/main/play/en-GB/whatsnew
  app/src/main/play/es-ES/listing/fulldescription
  app/src/main/play/es-ES/listing/shortdescription
  app/src/main/play/es-ES/listing/title
  app/src/main/play/es-ES/whatsnew
  app/src/main/play/fr-FR/listing/fulldescription
  app/src/main/play/fr-FR/listing/shortdescription
  app/src/main/play/fr-FR/listing/title
  app/src/main/play/fr-FR/whatsnew
  app/src/main/play/it-IT/listing/fulldescription
  app/src/main/play/it-IT/listing/shortdescription
  app/src/main/play/it-IT/listing/title
  app/src/main/play/it-IT/whatsnew
  app/src/main/play/zh-CN/listing/fulldescription
  app/src/main/play/zh-CN/listing/shortdescription
  app/src/main/play/zh-CN/listing/title
  app/src/main/play/zh-CN/whatsnew
Due: frontend

Move play store images; Add publisher to travis
  .travis.yml
  app/src/main/play/en-GB/listing/featureGraphic/featureGraphic.png
  app/src/main/play/en-GB/listing/icon/ic_launcher-web.png
  app/src/main/play/en-GB/listing/phoneScreenshots/1_Play-Store.png
  app/src/main/play/en-GB/listing/phoneScreenshots/2_Play-Store.png
  app/src/main/play/en-GB/listing/phoneScreenshots/3_Play-Store.png
  doc/Play Store/0_Play-Store_Functiongraph-Part.png
  gpad-ea9c241cac56.p12
  gradle/play.gradle
Due: frontend

Replace account config with play configuration
  app/build.gradle
Due: none

Update gradle version
  build.gradle
Due: none

BugFix
  app/src/main/java/com/edu/uni/augsburg/uniatron/notification/builder/TimeUpNotificationBuilder.java
Due: frontend

Remove debugging time watch
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

BugFix
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/StickyAppService.java
Due: frontend

Replace onboarding library with other 3rd party library
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/BlacklistSelectionFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/BlacklistSelectionListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/BlacklistViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/LaunchableAppDetails.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/PermissionFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/PermissionFragmentBuilder.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/PermissionModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/util/Permissions.java
  app/src/main/res/drawable/ic_add_black_24dp.xml
  app/src/main/res/layout/fragment_onboarding_multi_selection.xml
  app/src/main/res/layout/multi_selection_item.xml
  app/src/main/res/values/strings.xml
  build.gradle
  domain/build.gradle
Due: frontend

Code Refactoring
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/MainApplicationTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/AppContext.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/AppPreferences.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/MainApplication.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandler.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/notification/NotificationChannels.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/NotificationReceiverService.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/PackageChangeModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/StepCountModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityCardListAdapter.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/DateCache.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/BlacklistSelectionFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/BlacklistViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/PermissionFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/shop/TimeCreditShopViewModel.java
Due: frontend

Code Refactoring
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/setting/SettingViewModel.java
Due: frontend

Code Refactoring
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-zh/strings.xml
  app/src/main/res/values/strings.xml
Due: frontend

BugFix, Only track launchable apps, Change body sensor permission
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageDetector.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/PermissionModel.java
Due: frontend

Update gradle libraries version
  app/build.gradle
  domain/build.gradle
Due: none

Add splash screen
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/MainActivityViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/splash/SplashActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/splash/SplashViewModel.java
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Due: frontend

Update on boarding activity for external permissions
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/ExtendedMaterialIntroActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivity.java
Due: frontend

Add onboarding test
  app/build.gradle
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivityTest.java
Due: none

Add ui-automation test
  app/build.gradle
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivityTest.java
Due: none

Fix bug for android api 19 (kitkat)
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivityTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/service/handler/AppUsageModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/BaseCardViewHolder.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/CardViewHolder.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/EmptyCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/appusage/AppUsageCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/coinbag/CoinBagCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/summary/SummaryCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/card/timeaccount/TimeAccountCard.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/PermissionFragment.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/util/Permissions.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/TimeCreditDaoImpl.java
  domain/src/main/java/com/edu/uni/augsburg/uniatron/domain/dao/model/LearningAid.java
Due: frontend, backend

Fix test activity not started
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivityTest.java
Due: none

Fix onboarding test
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivityTest.java
Due: none

Add svg animation to splash screen; add splash activity test
  app/build.gradle
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandlerTest.java
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/splash/ElapsedTimeIdlingResource.java
  app/src/androidTest/java/com/edu/uni/augsburg/uniatron/ui/splash/SplashActivityTest.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/AppPreferences.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/SharedPreferencesHandler.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/ExtendedMaterialIntroActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/onboarding/OnBoardingViewModel.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/splash/SplashActivity.java
  app/src/main/java/com/edu/uni/augsburg/uniatron/ui/splash/SplashViewModel.java
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/values/svg.xml
Due: frontend

Update version to 1.0.0
  app/build.gradle
  build.gradle
Due: none

Remove fits system windows for toolbar
  app/build.gradle
  app/src/main/res/layout/activity_main.xml
Due: frontend

Update emoticon radio button group layout
  app/src/main/res/layout/activity_time_credit_shop.xml
Due: frontend

Add content descriptions for content labeling
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_time_credit_shop.xml
Due: frontend

Path conditions:
  frontend: any of: app/src/main
  backend: any of: domain/src/main
